*{
    font-family: Arial;
    color:green
}

h1{
            /*Название: Значение; */
            color:blue;
            text-align: center;
        }
        p{
            color: red;
            text-align: center;
        }
.purple-color{
    color: purple;
}

#yellow-color{
    color: yellow;
}

